html,
html::before,
html::after,
body {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.4;
  background: #fff;
  color: #000;
  font-size: 125%;
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  transition: -webkit-filter .5s ease-in-out;
  transition: filter .5s ease-in-out;
  transition: filter .5s ease-in-out, -webkit-filter .5s ease-in-out;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(58, 95, 133, 1);
}
button:focus:not(:focus-visible) {
  box-shadow: none;
}

::-moz-selection {
  background-color: #29435e;
  color: #fff;
}

::selection {
  background-color: #29435e;
  color: #fff;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* Repeat for progressive enhancement*/
button:focus:not(:focus-visible) .sr-only.sr-only-focusable{
border: 0 !important;
clip: rect(1px, 1px, 1px, 1px) !important;
-webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}


.sr-only-focusable:focus,
button:focus .sr-only-focusable{
  clip: auto !important;
  -webkit-clip-path: none !important;
    clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

.logo{
  background: #dcecfc;
  border-top: 5px solid #29435e;
}

.logo .inner{
padding-top:0;
padding-bottom:0;
}

.logo h1{
  font-family: system-ui, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 1.5rem;
  color:#fff;
  margin:0;
  padding:0.5rem;
  background: #29435e;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%; 
  display: inline-block;
}

.title {
  max-width: 30ch;
}

.header p{
  padding-right: 5.5em;
}

h1,
h2,
h3,
.info-wrapper .section h1,
.info-wrapper .section h2,
.info-wrapper .section h3 {
  color: #29435e;
  font-family: ui-serif, serif;
  max-width: 50ch;
  margin: 0 0 1rem 0;
  line-height: 1.3;
}
h1 {
  font-size: 3.5em;
}

p {
  max-width: 50ch;
  margin: 0;
}
p + p {
  margin-top: 1.5rem;
}
.info-wrapper .section p{
 color: #000; 
}


a,
.info-wrapper .section a{
  color: #29435e;
  transition: all 0.15s ease;
  padding: 2px;
  font-weight: 600;
}
a:hover,
a:focus,
.info-wrapper .section a:hover,
.info-wrapper .section a:focus{
  color: #dcecfc;
  background: #29435e;
  border-radius: 2px;
}

/******/

h1,
h2,
h3,
p,
#results {
  font-size: clamp(
    var(--fluid-type-min, 1rem),
    calc(1rem + var(--fluid-type-target, 3vw)),
    var(--fluid-type-max, 1.3rem)
  );
}

h1 {
  --fluid-type-min: 2rem;
  --fluid-type-max: 3.5rem;
  --fluid-type-target: 5vw;

  max-width: 15ch;
}

h2 {
  --fluid-type-min: 1.8rem;
  --fluid-type-max: 3rem;
}

h3 {
  --fluid-type-min: 1.5rem;
  --fluid-type-max: 2.5rem;
}

h2,
h3 {
  max-width: 30ch;
}

p {
  max-width: 60ch;
}

/******/

label,
legend,
.label-wrapper,
.legend-text,
.fake-legend {
  color: #29435e;
  font-weight: 400;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  margin-bottom: 1px;
}

.inner {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.75rem 0.75rem;
}
#wrapper {
  overflow-x: hidden;
  background:#fff;
}
.header {
  position: relative;
  padding-bottom: 4.6rem;
  z-index: 2;
}
.header::after {
  content: "";
  display: block;
  position: absolute;
  width: 25vw;
  height: auto;
  top: 0;
  right: 0.8rem;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/sun.svg);
  background-size: auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.header .inner::after {
  content: "";
  display: block;
  position: absolute;
  width: 120vw;
  height: auto;
  top: 0;
  right: -20vw;
  bottom: 0;
  left: -10vw;
  z-index: -2;
  background-image: url(../images/cloud.svg);
  background-size: 100% auto;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.header::before {
  content: "";
  display: block;
  position: absolute;
  width: 100vw;
  height: 66%;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: #dcecfc;
}

.calculator-wrapper {
  position: relative;
  z-index: 3;
}

.calculator-wrapper .inner{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.calculator-wrapper::after {
  content: "";
  display: none;
  position: absolute;
  width: 25vw;
  height: auto;
  top: 0;
  right: 0.8rem;
  bottom: 0;
  z-index: -1;
  background-image: url(../images/trees.svg);
  background-size: auto;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.icon-tree{
  position: absolute;
  right: 0.8rem;
  bottom: 0;
  width: 25vw;
  max-width: 40rem;
  height: auto;
  fill:#298227;
}

.calc-heading {
  margin-top: 0.5rem;
}
.result-wrapper .result-label {
  position: relative;
  transform: translateY(50%);
}
#result {
  color: #298227;
  font-size: 2.5rem;
  display: inline-block;
  vertical-align: middle;

  --fluid-type-min: 1.8rem;
  --fluid-type-max: 2.5rem;
  --fluid-type-target: 5vw;
}
#result sub {
  font-size: 0.8em;
  line-height: sub;
}
.co2 {
  font-size: 1rem;
  color: #333;
  display: block;
}

::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

::-moz-placeholder {
  color: #666;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

::placeholder {
  color: #666;
  opacity: 1;
}

fieldset,
legend {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
fieldset {
  position: relative;
}

.legend-text {
  cursor: default;
  position: absolute;
  transform: translateY(calc(50% + 0.5em));
  visibility: hidden;
}

.fake-legend {
  display: block;
  width: 100%;
  position: relative;
  cursor: default;
}
.fake-legend::after {
  content: attr(aria-label);
  color: inherit;
  font-size: 1em;
}

input,
select,
html .select-css {
  font-size: 1.2rem;
  padding: 0.25ch 0.5ch;
  border-radius: 0.25em;
  border: 2px solid #29435e;
  transition: all 0.3s ease;
  box-sizing: content-box;
}
input:hover,
html .select-css:hover {
  border: 2px solid #29435e;
  box-shadow: 0 0 0 1px rgba(41, 67, 94, 1);
}
input:focus,
html .select-css:focus {
  border: 2px solid #29435e;
  box-shadow: 0 0 0 2px rgba(41, 67, 94, 1);
}

/**** CUSTOM SELECT ****/
#service {
  max-width: 18ch;
}
.select-css {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%; /* useful when width is set to anything other than 100% */
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
    
  */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%2329435E%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 0.7em top 50%, 0 0;
  /* icon size, then gradient */
  background-size: 0.65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}

/* Set options to normal weight */
.select-css option {
  font-weight: normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

.step-wrapper:focus-within .label-wrapper label,
.step-wrapper:focus-within .legend-text,
.step-wrapper:focus-within .fake-legend,
.hours-wrapper:focus-within label,
.minutes-wrapper:focus-within label {
  text-shadow: 0.25px 0px 0px rgba(41, 67, 94, 1),
    -0.25px 0px 0px rgba(41, 67, 94, 1);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  flex: 1 1 auto;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.step-wrapper {
  padding: 0.75rem;
  transition: background-color 0.3s ease-in-out;
  max-width: 30rem;
  width: 100%;
}

.step-wrapper:focus-within {
  background-color: rgba(220, 236, 252, 1);
}

.label-wrapper {
  flex-basis: 34%;
  padding-right: 0.5rem;
}
.input-wrapper {
  flex-basis: 65%;
}
.duration-wrapper {
}
.hours-wrapper {
  width: 100%;
  margin-right: 10px;
  flex: 1 1 0;
}
.minutes-wrapper {
  width: 100%;
  flex: 2 2 0;

}
#minutes {
  max-width: 5ch;
  text-align: center;
}
#hours {
  max-width: 10ch;
  width: 10ch;

}
#audience {
  max-width: 18ch;
  width: 100%;
}

.icon {
  display: inline-block;
  fill: currentColor;
  height: 1em;
  line-height: 1;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 1em;
}
.icon--stroke {
  stroke: currentColor;
  stroke-width: 2px;
  fill: none;
}

.hour--focus .icon #minute {
  stroke: #767676;
}
.hour--focus .icon #hour {
  stroke-width: 2px;
}
.minute--focus .icon #hour {
  stroke: #767676;
}
.minute--focus .icon #minute {
  stroke-width: 2px;
}

.info-wrapper{
  background: #29435e;
  color: #fff;
  padding: 2rem 0;
}
.info-wrapper hr{
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, .75), rgba(220, 236, 252,1), rgba(255, 255, 255, 0));
}

.info-wrapper h1,.info-wrapper h2,.info-wrapper h3,.info-wrapper p{
  color: #fff;
}
.info-wrapper a{
  color: #dcecfc;
  transition: all 0.15s ease;
  padding: 2px;
  font-weight: 600;
}
.info-wrapper a:hover,.info-wrapper a:focus{
  color: #29435e;
  background: #dcecfc;
  border-radius: 2px;
}
.info-wrapper .section{
  padding: 2rem;
  border-radius: .25em;
  background: #fff;
  margin-bottom: 2rem;
  max-width: 75%;
}
.section--left{
  margin-right: auto;
}
.section--right{
  margin-left: auto;
}
/*test*/


/*** DARK MODE ***/

.button-list{
  position: absolute;
  right: 0.8rem;
  bottom: 0;
  width: 23vw;
  max-width: 40rem;
  height: 18.75vw;
  background: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
[data-theme="light"] .button-list[data-theme="light"],
[data-theme="dark"] .button-list[data-theme="dark"]{
  display:none;
}
[data-theme="auto"] .button-list,
[data-theme="light"] .button-list,
[data-theme="dark"] .button-list{
  -webkit-filter: invert(0);
  filter: invert(0);
}
.button-list span{
 position: absolute;
 bottom:50%;
 right:50%;
 transform: translate(50%,50%);
 background:#fff;
 padding:1rem;
 display: block;
 border-radius: 1rem;
}
.button-list span span{
  background:#000;
  color: #fff;
  padding:1rem;
  display: block;
  border-radius: .5rem;
  white-space: nowrap;
}
.button-list span:focus{

}

[data-theme="dark"] {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
[data-theme="dark"] img,
[data-theme="dark"] video,
[data-theme="dark"] iframe,
[data-theme="dark"] .no-dark {
  -webkit-filter: invert(100%);
  filter: invert(100%); 
}

[data-theme="dark"] .header .inner::after{
  -webkit-filter: sepia(100%) hue-rotate(295deg) saturate(500%);
  filter: sepia(100%) hue-rotate(295deg) saturate(500%);
}
[data-theme="dark"] .header::before{
   -webkit-filter: sepia(100%) hue-rotate(295deg) saturate(500%);
   filter: sepia(100%) hue-rotate(295deg) saturate(500%);
}
[data-theme="dark"] .logo{
  border-color: #fff;
  background: #ffecda;
}
[data-theme="dark"] .logo h1{
  background: #fff;
  color:#000;
}
[data-theme="dark"] .header::after{
  background-image: url(../images/moon.svg);
  width:15vw;
  background-size: 85%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
[data-theme="dark"] .step-wrapper:focus-within {
  background-color: #ffecda;
}
[data-theme="dark"] .info-wrapper{
  background: #e7e7e7;
}

@media (prefers-color-scheme: light) {
  [data-theme="auto"] .button-list[data-theme="light"]{
    display:none;
  }
}

@media (prefers-color-scheme: dark) {
  [data-theme="auto"] .button-list[data-theme="dark"]{
    display:none;
  }
  [data-theme="auto"] {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  [data-theme="auto"] img,
  [data-theme="auto"] video,
  [data-theme="auto"] iframe,
  [data-theme="auto"] .no-dark {
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  [data-theme="auto"] .header .inner::after{
    -webkit-filter: sepia(100%) hue-rotate(295deg) saturate(500%);
    filter: sepia(100%) hue-rotate(295deg) saturate(500%);
  }
  [data-theme="auto"] .header::before{
     -webkit-filter: sepia(100%) hue-rotate(295deg) saturate(500%);
     filter: sepia(100%) hue-rotate(295deg) saturate(500%);
  }
  [data-theme="auto"] .logo{
    border-color: #fff;
    background: #ffecda;
  }
  [data-theme="auto"] .logo h1{
    background: #fff;
    color:#000;
  }
  [data-theme="auto"] .header::after{
    background-image: url(../images/moon.svg);
    width:15vw;
    background-size: 85%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  [data-theme="auto"] .step-wrapper:focus-within {
    background-color: #ffecda;
  }
  [data-theme="auto"] .info-wrapper{
    background: #e7e7e7;
  }
}




